/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* TODO: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Syncro Book";
  src: url("../assets/fonts/SyncroBook-Web.woff2") format("woff2");
}

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* TODO: Delete any stylesheets that you do not want to use. */

@import url("make-something-fly.css");
@import url("animated-gradient.css");
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("experiments.css");
@import url("style-guide.css");
@import url("scroll-to-top.css");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/temp/up-cursor.png"), auto !important;
  /* TODO: Change the url above to add a custom cursor. Delete the line above if you want to use the default browser cursor. */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Schibsted Grotesk", sans-serif;
  --heading-typeface: "Syncro Book", serif;
  --project-title-typeface: "Syncro Book", serif;
  --background-color: #FFFDF9;
  --background-color-about: #FFFDF9;
  --background-color-footer: #FFFDF9;
  --alt-background-color: #4b392e;
  --background-color-holding-page: #FFFDF9;
  --h1-color: #4b392e;
  --h2-color: #4b392e;
  --h3-color: #4b392e;
  --h4-color: #4b392e;
  --h5-color: #4b392e;
  --h6-color: #4b392e;
  --primary-text-color: #4b392e;
  --holding-page-title-color: #FFFDF9;
  --accent-color: #f7da9c;
  --hyperlink-color: #4b392e;
  --hyperlink-alternate-color: #e3461b;
  --hover-color: #e3461b;
  --visited-color: #4b392e;
  --project-title-color: #4b392e;
  --project-sidebar-background-color: transparent;
  --project-sidebar-text-color: charcoal;
  --holding-page-footer-color: #FFFDF9;
  --text-selection-background-color: #f7da9c;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h1-color);
}

h2 {
  font-size: 1.5rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h2-color);
}

h3 {
  font-size: 1rem;
  font-family: var(--body-typeface);
  font-weight: 550;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: var(--h3-color);
}

h4 {
  font-size: 1rem;
  font-family: var(--body-typeface);
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1rem;
  font-family: var(--body-typeface);
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
  font-family: var(--body-typeface);
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--h6-color);
}

p {
  font-family: var(--body-typeface);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.hero-headline {
  color: var(--overlay-color);
}

.project-title {
  font-size: 4rem;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
}

.project-role {
  font-size: 1.5rem;
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.project-description {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.nav-item-active {
  font-weight: 600;
  color: #e3461b;
}

.project-name {
  font-size: 3rem;
}
.project-name:hover {
  color: #e3461b;
  transition: all 0.4s ease-in-out;
}

li {
  list-style-type: none;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  position: sticky;
  top: 0;
  height: 7rem;
  background: var(--background-color);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  width: 8rem;
}

.name {
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  width: 3rem;
  /* TODO: Adjust the width of the logo on mobile devices here. */
}

.hero-icon {
  font-size: 4rem;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.work-wrapper,
.work-menu {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.work-preview{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
}

.error-page-text{
  text-align: center;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  background: var(--background-color-about);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-item-1{
  grid-column: 3;
}

.about-item-2{
  grid-row: 1;
  grid-column: 1;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content:space-between;
  background: var(--background-color-footer);
  padding-top: 1rem;
  padding-left:2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.error-page-footer{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content:space-between;
  background: var(--background-color-footer);
  padding-top: 1rem;
  padding-left:2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin-top: auto;
}



/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Sidebar */
.project-aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--project-sidebar-text-color);
  background: var(--project-sidebar-background-color);
  padding-left: 1rem;
  padding-right: 2rem;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */

/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/


@media only screen and (max-width: 768px){
  /* TODO: Add styles here for medium devices. */
  .work-wrapper{
    flex-direction: column;
  }

  .project-name{
    font-size: 2rem;
  }

  .footer-text{
    font-size: .85rem;
  }

  .website-name {
    display:none;
  }

  .logo {
    width: 4rem;
    /* TODO: Adjust the width of the logo on large devices here. */
  }
  .project-image {
    padding-bottom: .5rem;
  }
  .project-title{
    font-size: 2.5rem;
  }
  .project-role{
    font-size : 1.25rem;
  }

  .about {
    display:flex;
    flex-flow: wrap;
  }

  .about-image{
    padding-bottom: 3rem;
  }

  .about-name{
    font-size: 1.5rem;
  }

}

@media (min-width: 768px){
  .work-wrapper{
    flex-direction: column;
  }
  .website-name {
    font-size: 1.5rem;
    text-align: center;
  }
  .logo {
    width: 5rem;
  }
  .project-image {
    padding-bottom: 1rem;
  }

  .about {
    grid-template-columns: 1fr .5fr 1fr;
  }
  .about-name{
    font-size: 2.5rem;
  }

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* TODO: Add or adjust styles here for large devices. */
  .work-wrapper{
    flex-direction: column;
  }

  h1 {
    font-size: 4.275rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.625rem;
  }
  .website-name {
    font-size: 2.25rem;
    text-align: center;
  }

  .logo {
    width: 5rem;
    /* TODO: Adjust the width of the logo on large devices here. */
  }

  .hero {
    min-height: 100vh;
  }

  .about {
    grid-template-columns: 1fr .5fr 1fr;
  }

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 1rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }
  .project-title{
    font-size: 2.75rem;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 10.5rem;
    padding-right: 2rem;
    padding-left: 1rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }
  .project-image {
    padding-bottom: 1rem;
  }
  .project-image-container {
    flex-direction: row;
  }
  .project-navigation {
    justify-content: flex-start;
  }

}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  /* TODO: Add styles here for X-large devices. */
  .work-wrapper{
    flex-direction: row;
  }
  .project-title{
    font-size: 4rem;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }


}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  /* TODO: Add styles here for XX-large devices. */
  .work-wrapper{
    flex-direction: row;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
